@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#header{
    width: 100%;
    background: #f4f4f4;
    height: 36px;            
    .header_bar{
        width: 960px;
        height: 36px;
        margin: 0 auto;
//      background: #ddd;
        .login_info{
            float: left;
            .register{
                float:left;
                margin-top:9px;
                a{
                    color:#7a7a7a;
                    font-size:12px;
                    font-family: "微软雅黑";
                    line-height: 18px;
                    display: inline;
                    float: left;
                    vertical-align: middle; 
                    &:hover{
                     color:#8E0C3A                       
                    }                  
                }
                .reg1{
                    width: 39px;                   
                    border-right: 1px solid #ccc;
                }
                .reg2{
                    padding-left: 15px;
                }
            }
            .search{
                float: left;
                a{
                    color:#7a7a7a;
                    font-size: 12px;
                    font-family: "微软雅黑";
                    line-height: 36px;
                    padding-left: 15px;
                    &:hover{
                        color:#8E0C3A;
                    }
                }

            }
        }
        .focus_info{
            float: right;
            font-family: "微软雅黑";
            font-size: 12px;
            color:#7a7a7a;
            width: 223px;
            height: 36px;
            .client_p{
                float: left;
                line-height: 36px;
            }
            .focus_us{
                float: left;
                position: relative;
                &:hover .sina_wechat{
                    display: block;
                }
                &:hover{
                    span{
                        em{
                            background: url(../img/headico01.png) no-repeat -24px -15px;
                        }
                    }
                }
                span{
                    line-height: 36px;
                    padding-left: 36px;
                    position: relative;                  
                    em{
                        display: block;
                        width: 20px;
                        height: 15px;
                        background: url(../img/headico01.png) no-repeat -4px -15px;
                        position: absolute;
                        left:22px;
                        top:1px;
                    }

                }
                .sina_wechat{
                    width: 158px;
                    height: 60px;
                    position: absolute;
                    border:1px solid #ccc;
                    right: 0px;
                    z-index: 10;
                    background: #fff;
                    display: none;
                    a{
                        display: block;
                        color:#666;
                    }
                    a:hover{
                        color:#8E0C3A;
                    }
                    img{
                        margin-left: 10px;
                    }
                    .sina{
                        float: left;
                        cursor: pointer;
                        margin-left:18px;
                        margin-top: 10px;
                    }
                    .wechat{
                        float:left;
                        cursor: pointer;
                        margin-left: 24px;
                        margin-top: 10px;
                    }
                }
            }
            .shop_d{
                float: left;
                cursor: pointer;
                position:relative;
                top:8px;
                border:1px solid #f4f4f4;
                height: 28px;
                z-index: 20;
                span{
                    float: left;
                    line-height: 18px;
                    position: relative;
                    padding-left: 50px;
                    padding-right: 7px;
                    height: 36px;
                    i{
                        font-style: normal;
                        color:#8E0C3A;
                    }
                    em{
                        display: block;
                        width: 20px;
                        height: 16px;
                        background: url(../img/headico01.png) no-repeat 0 -30px;
                        position: absolute;
                        left:26px;
                        top:0;
                        border-left:none;
                    }
                }
                em.sj{
                       font-weight: normal;
                       font-style: normal;
                       padding-left: 7px;
                       border-left:1px solid #ccc;
                       display: block;
                       float: left;
                       width: 23.5px;
                }
                .shop_info{
                    position: absolute;
                    width:318px;
                    height: 74px;
                    border:1px solid #ccc;
                    background: #fff;
                    right: -1px;
                    top: 25px;
                    display: none;
                    z-index: -3;
                }
                &:hover .shop_info{
                    display: block;
                }
                &:hover{
                    background: #fff;
                    border-color:#ccc;
                    border-width:1px 1px 1px 1px;
                    border-style: solid;
                    border-bottom-color: #fff;
                    z-index: 10;
                }

            }

        }
    }
/*************************header_top**************************/
            .header_top{
                width: 960px;
                margin: 0 auto;
                color:#7a7a7a;
                height: 100px;
                overflow: hidden;
                .code{
                    margin-left: 15px;
                    margin-top: 15px;
                    width: 75px;
                    height: 75px;
                    float: left;
                }
                .fasion{
                    float: left;
                    width: 83px;
                    height: 31px;
                    margin-left: 5px;
                    margin-top: 41px;
                }
                .logo{
                    float: left;
                    width: 280px;
                    height: 50px;
                    margin-left: 169px;
                    margin-top: 29px;
                }
                .search{
                    float: right;
                    margin-top: 40px;
                    .txt,.btn{
                        float: left;
                    }
                    .txt input{
                        color:#999;
                        width: 132px;
                        height: 24px;
                        border:1px solid #afafaf;
                        border-right: none;
                        background: #fff;
                        outline:none;
                    }
                    .btn input{
                        width: 24px;
                        height: 26px;
                        border:1px solid #afafaf;
                        border-left:none;
                        background: #fff;
                        background: url(../img/searchbtn.gif);
                        cursor: pointer;
                        outline: none;
                    }
                }
            }
        /*******************************滚动top*****************************/
            .fix_top{
                width: 100%;
//              background: red;
                height: 60px;
                z-index: 1000;
                border-bottom: 1px solid #ccc;
                position: absolute;
                position: fixed;
                background: #fff;
                display: none;
                .inner{
                    width: 960px;
                    height: 45px;
                    margin: 7px auto 0;
                    .site_name{
                        width: 200px;
                        height: 43px;
                        line-height: 43px;
                        margin-right: 50px;
                        margin-top: 5px;
                        float: left;
                        font-size: 24px;
                    }
                         .ipt{
                            input.txt{
                                display: inline-block;
                                width:564px;
                                height: 28px;
                                border:2px solid #8E0C3A;
                                outline: none;
                                background: #fff;
                                border-right: none;
                                color:#666;
                                float: left;
                                margin-top: 7px;
                            }
                        }
                        .anniu{
                            .btn{
                                width: 30px;
                                height: 32px;
                                display: block;
                                cursor: pointer;
                                float: left;
                                margin-top: 7px;
                                border:2px solid #8E0C3A;
                                border-left: none;                                
                                background: url(../img/searchbtn2.gif) no-repeat;
                            }
                        }   
                        .search_menu{
                            width: 95px;
                            height: 45px;
                            float: right;
                            p{
                                line-height: 45px;
                                color: #8E0C3A;
                                font-size: 12px;
                                font-family: "微软雅黑";
                            }
                            img{
                                display: block;
                                margin-top: 16px;
                                margin-left: 22px;
                            }
                        }                
                }            
            }
        /***********************导航区域******************************************/
        $menu_Left : -108px;
                .main_nav{
                    width: 960px;
                    height: 33px;
                    margin: 0 auto;
                    border-bottom:1px solid #333;
                    ul{
                        >li{
                            float: left;
                            position: relative;
                            >a{
                                display: block;
                                width: 108px;
                                height: 33px;
                                line-height: 33px;
                                text-align: center;
                                font-size: 14px;
                                font-family: "微软雅黑";
                                color:#333;
                                &:hover{
                                    background: #8E0C3A;
                                    color:#fff;
                                }
                            }                            
                            a.menu9{
                                width: 96px;
                                height: 33px;
                            }
                            .menu_info{
                                width: 958px;
                                position: absolute;
                                height: 400px;
                                background: #fff;
                                left:$menu_Left * 1;
                                z-index: 2;
                                border:1px solid #ccc;
                                border-top: 1px solid #333;
                                height: 304px;
                                display: none;
                              .menu_sm{
                                  dl.dl1{
                                      padding-left: 0;
                                  }
                                  dl.dl3{padding-left: 0;}
                                  dl.dl4{
                                      padding-left: 0;
                                      dd{
                                          float: left;
                                      }
                                      dd:hover{
                                          a{
                                             color:#8E0C3A;                                           
                                          }
                                      }
                                      dt{
                                          a{
                                              color:#8E0C3A;
                                          }
                                      }
                                      
                                      a{
                                          display: block;
                                          font-size: 12px;
                                          font-family: "微软雅黑";
                                          color:#6C6C6C;
                                      }
                                  }
                                  dl{
                                      float: left;
                                      padding-left: 45px;
                                      dt{
                                              padding-top: 15px;
                                              padding-left: 26px;  
                                              padding-bottom: 10px;                                      
                                          >a{
                                              color:#8E0C3A;
                                              font-size:12px;
                                              font-family: "微软雅黑";
                                              font-weight: bold;                                                                                      
                                          }

                                      }
                                           dd{
                                               margin: 4px 0;
                                               margin-left: 28px;
                                               >a{
                                                      font-size: 12px;
                                                      font-family: "微软雅黑";
                                                      color:#6C6C6C;
                                               }
                                           
                                          }                                      
                                  }  
                                }
                                .all_new_shop{
                                    position: absolute;
                                    left:26px;
                                    bottom:20px;
                                    a{
                                        display: block;
                                        text-decoration: underline;
                                        font-size:12px;
                                        font-family: "微软雅黑";
                                        color:#6c6c6c;
                                        margin-bottom: 6px;                                       
                                    }

                                }
                                a:hover{
                                    color: #8E0C3A!important;
                                }
                            }
                            
                            .menu_girl{
                                    dl.dl2{
                                        padding-left: 0px;
                                    }
                                    dl.pic{
                                        position: absolute;
                                        right: 15px;
                                        top:15px;
                                    }                              
                            }
                            .menu_brand{
                                dl.dl2{
                                    padding-left: 42px;
                                }
                            }
                            .menu_Preferential{
                                dl.dl2{
                                    padding-left: 56px;
                                    dd{
                                        float:left;
                                        &:nth-of-type(3){
                                            clear: both;
                                        }
                                        &:nth-of-type(2){
                                            padding-left: 58px;
                                        }
                                        &:nth-of-type(4){
                                            padding-left: 18px;
                                        }
                                        &:nth-of-type(5){
                                            clear: both;
                                            padding-top: 2px;
                                            float: left;
                                        }                                
                                    }
                                }
                                dl.dl3{
                                    dd{
                                        &:nth-of-type(1){
                                            float: left;
                                        }
                                        &:nth-of-type(2){
                                            float:left;
                                            padding-left: 52px;
                                        }
                                        &:nth-of-type(3){
                                            clear: both;
                                            float: left;
                                        }
                                        &:nth-of-type(4){
                                            float: left;
                                            padding-left: 13px;
                                        }
                                        &:nth-of-type(5){
                                            clear: both;
                                            padding-top: 6px;
                                        }
                                    }
                                }
                            }
                            .menu3_info{
                                left:$menu_Left * 2;
                            }
                            .menu4_info{
                                left:$menu_Left * 3;                                
                            }
                            .menu5_info{
                                left:$menu_Left * 4;
                                
                            }
                            .menu6_info{
                                left:$menu_Left * 5;                              
                            }
                            .menu7_info{                              
                                left:$menu_Left * 6;
                                .dl3{
                                    img{
                                        width: 210px;
                                    }
                                    a{
                                        position: relative;
                                        div.pic_info{
                                            position: absolute;
                                            bottom: 2px;
                                            width:210px;
                                            background-color:rgba(0,0,0,0.4);
                                            p{  
                                                height: 25px;
                                                color:#fff;
                                                text-align: center;
                                                line-height: 25px;
                                            }
                                        }
                                    }
                                }
                                dl.designer{
                                    margin-left: -18px;
                                }
                            }
                            .menu8_info{
                                left:$menu_Left * 7;                               
                            }
                            &:hover div{
                                display: block;
                            }
                        }
                    }
                }            
}
/**********************************轮播banner**********************************/
#main{
    width:960px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;    
    .banner{
        height: 500px;
        overflow: hidden;
        position: relative;
        a{
            position: absolute;
            display: none;
        }
        a:nth-of-type(1){
            display: block;
        }
        &:hover span{
            display: block;
        }
        span{
            position: absolute;
            display: block;
            width:27px;
            height:66px;
            cursor: pointer;
            top:217px;
            display: none;    
        }
        span.prev{
            left:10px;
            background: url(../img/jt7.png) 0 -201px no-repeat ;
            &:hover{
            background: url(../img/jt7.png) 0 0 no-repeat ;
            
            }
        }
        span.next{
            right: 10px;
            background: url(../img/jt7.png) 0 -134px no-repeat ;   
            &:hover{
            background: url(../img/jt7.png) 0 -67px no-repeat ;   
               
            }       
        }
        
    }
    
/********************************weekly************************************/
       .weekly{
           height: 440px;
           margin-top: 15px;
           overflow: hidden;
           .suggest{
               width:960px;
               position: relative;
               overflow: hidden;
               .middle_line{
                   border-bottom: 1px solid #999;
                   width: 100%;
                   position: absolute;
                   top:24px;
                   left:0;
                   z-index: 0;
               }
               p.offer{
                   width:260px;
                   background: #fff;
                   margin: 0 auto;
                   z-index: 4;
                   text-align: center;
                   font-family: "微软雅黑";
                   color:#333;
                   position: relative;
               }
           }
                  .show_pic{
                           overflow: hidden;
                           margin-top: 12px;
                           img{
                               display: block;
                           }
                           a{
                               display: block;
                           }
           .pic_left{
               float: left;
               width: 316px;

               a.pic1{
                   margin-bottom: 6px;
               }
           }
           .pic_center{
               width: 316px;
               margin-left: 6px;
               float: left;
           }
           .pic_right{
               float: left;
               margin-left: 6px;
               a.pic1{
                   margin-bottom: 6px;
               }
           }
         }
       }
       
       /*****************************正被选购BEING SOLD********************************/
       .be_sold{
           margin-top: 15px;
           .suggest{
               width:960px;
               position: relative;
               overflow: hidden;
               .middle_line{
                   border-bottom: 1px solid #999;
                   width: 100%;
                   position: absolute;
                   top:24px;
                   left:0;
                   z-index: 0;
               }
               p.offer{
                   width:260px;
                   background: #fff;
                   margin: 0 auto;
                   z-index: 4;
                   text-align: center;
                   font-family: "微软雅黑";
                   color:#333;
                   position: relative;
               }
           }
           .shop_info_banner{
               width: 960px;
               height: 265px;
               margin: 0 auto;
               overflow: hidden;
               margin-top: 12px;
               position: relative;
               ul.be_sold_ul{
                   width: 7680px;
                   position: relative;
                   z-index: 1;
                   left:-1536px;
                   top:0;
                   clear: both;
                   li{
                       width: 160px;
                       height: 260px;
                       overflow: hidden;
                       text-align: center;
                       float: left;
                       margin-left: 30px;
                       p{
                           width: 160px;
                           height: 44px;
                           padding-top: 0;
                           word-break: normal;
                           word-wrap: normal;
                           overflow: hidden;
                           color:#555;
                           white-space: nowrap;
                           text-overflow: ellipsis;
                           font-size:12px;
                           font-family: "微软雅黑";
                       }
                       .c_gray{
                           font-size: 12px;
                           font-family: "微软雅黑";
                           color:#999;
                       }
                   }
               }
               .btn p{
                   width: 17px;
                   height: 26px;
                   position: absolute;
                   cursor: pointer;
                   top: 100px;
                   z-index: 5;
                   left:0;
               }
               .be_sold_prev{
                  width: 17px;
                  height: 260px;
                  position: absolute;
                  background: #fff;
                  cursor: pointer;
                  z-index: 5;
                  left:0;
                  .be_sold_prev_pic{
                    background: url(../img/pic_arrow_l.png) no-repeat ;
                     
                  }
               }
               .be_sold_next{
                  width: 17px;
                  height: 260px;
                  position: absolute;
                  background: #fff;
                  cursor: pointer;
                  z-index: 5;
                  right:0;
                  .be_sold_next_pic{
                      background: url(../img/pic_arrow_r.png) no-repeat;
                  }                  
               }
           }

       } 
          .editor{
               margin-top: 15px;
           .suggest{
               width:960px;
               position: relative;
               overflow: hidden;
               .middle_line{
                   border-bottom: 1px solid #999;
                   width: 100%;
                   position: absolute;
                   top:24px;
                   left:0;
                   z-index: 0;
               }
               p.offer{
                   width:260px;
                   background: #fff;
                   margin: 0 auto;
                   z-index: 4;
                   text-align: center;
                   font-family: "微软雅黑";
                   color:#333;
                   position: relative;
               }
            }   
            .editor_pic{
                overflow: hidden;
                margin-top: 12px;
                img{
                    display: block;
                    width: 316px;
                }
                 a{
                     float: left;
                     position: relative;
                     &:nth-of-type(2){
                         margin: 0 6px;
                     }
                     span{
                         position: absolute;
                         font-size:18px;
                         width: 316px;
                         height: 36px;
                         line-height: 36px;
                         display: inline-block;
                         white-space: nowrap;
                         text-overflow: ellipsis;
                         font-family: "微软雅黑";
                         color:#000;
                         padding-left: 15px;
                         left:0;
                         bottom: 20px;
                         background-color: rgba(255,255,255,0.8);
                     }
                 }
             }            
         } 
         .summer{
             margin-top: 18px;             
         }
         .e_mail{
             margin-top: 10px;
             .e_txt{
                 .e_ipt{
                     width: 124px;
                     height: 25px;
                     outline: none;
                     border:1px solid #a3a3a3;
                     padding: 0 3px 0 36px;
                     font-size:12px;
                     color:#999;
                     line-height: 25px;
                     margin-left: 40px;
                     background: url(../img/footico.gif) no-repeat -40px -31px;
                 }
                 .e_span{
                     display: block;
                     width: 70px;
                     height: 27px;
                     font-size: 12px;
                     background: #333;
                     line-height: 27px;
                     color:#fff;
                     text-align: center;
                     padding-left: 0;
                     margin-left: 210px;
                     top: 188px;                     
                 }
             }
         }
}
             #footer{
                 margin-top:30px;
                 height: 127px;
                 .help_intro{
                     width:960px;
                     margin:0 auto;
                     border-top:1px solid #ccc;
                     padding: 30px 0 10px 0;
                     ul{
                         width: 95px;
                         float: left;
                         li{
                             font-size:12px;
                             font-family: "微软雅黑";
                             line-height: 18px;
                             &:nth-of-type(1){
                                 color:#666;
                                 font-weight: bold;
                                 padding: 10px 0 8px 0;
                             }
                             a{
                                 color:#7A7A7A;
                                 &:hover{
                                     color:#8E0C3A;
                                 }
                             }
                         }
                     }
                     .hot_phone{
                         width: 240px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         float: left;
                         li{
                             text-align: center;   
                             color:#666;                  
                         }
                         li.word_phone{
                             font-size: 14px;
                             font-weight: bold;
                             font-family: "微软雅黑";
                         }
                         li.num_phone{
                             font-size: 20px;
                             font-weight: normal;
                         }
                     }
                     .ke_fu{
                         width: 145px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         li{
                             text-align: center;
                             font-family: "微软雅黑";
                             color:#666;
                             font-size: 14px;
                         }
                         .qq{
                             width: 20px;
                             height: 23px;
                             background: url(../img/footico.gif) no-repeat 0 0;
                             float: left;
                             margin-left: 48px;
                             cursor: pointer;
                         }
                         .music{
                             width: 21px;
                             height: 23px;
                             background: url(../img/footico.gif) no-repeat -20px 0;
                             float: left;
                             margin-left: 10px;
                             cursor: pointer;
                         }
                     }
                     .er_weima{
                         width: 190px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         li{
                             float: left;
                             margin-left: 20px;
                             cursor: pointer;
                         }
                         li.er_weima1{
                             margin-top: -10px;
                         }
                         li.er_weima_2{
                             span{
                                 margin-left: 10px;
                                 color:#666;
                                 font-weight: 600;
                             }
                             margin-top: -1px;
                         }
                     }
                 }
             }
             #footer_nav{
                 margin: 20px auto;
                 width: 960px;
                 background: #eee;
                 ul.sub_nav{
                     width: 810px;
                     margin: 3px auto;
                     &:after{
                         content: "";
                         height: 0;
                         display: block;
                         clear: both;
                         visibility: hidden;
                     }
                     li{                         
                         float: left;
                         a{
                             display: block;
                             width: 90px;
                             height: 20px;
                             padding-top: 2px;
                             text-align: center;
                             color:#7A7A7A;
                             font:12px "微软雅黑";
                             &:hover{
                                 background: #999;
                                 color: #fff;
                             }
                         }
                     }
                 }
             }
          #footer_link{
              width: 960px;
              margin: 0 auto;
              &:after{
                  content: "";
                  height: 0;
                  visibility: hidden;
                  clear: both;
                  display: block;
              }
              .footer_link_content{
                  width: 480px;
                  margin: 3px auto;
                  li{
                      float: left;
                      a{
                          display: block;
                      }
                  }
                  li.link1{
                      a{
                          width: 22px;
                          height: 23px;
                          background: url(../img/foot_pic_s.jpg) no-repeat 0 -110px;
                      &:hover{
                        background-position: 0 0 ;  
                       }
                      }
                  }
                  li.link2{
                      margin: 2px 2px 0 2px;
                      a{
                          width: 100px;
                          height: 22px;
                          background: url(../img/foot_pic_s.jpg) no-repeat 0 -155px;
                      &:hover{
                        background-position: 0 -45px ;  
                       }                      
                      }
                  }
                  li.link3{
                       margin: 2px 2px 0 2px;                                                
                          margin-left: 35px;
                          width: 66px;
                          height: 22px;
                          background: url(../img/foot_pic_s.jpg) no-repeat 0 -133px;                      
                  }
                  li.link4{
                      margin: 2px 2px 0 2px;
                      a{
                          width: 73px;
                          height: 22px;
                          background: url(../img/foot_pic_s.jpg) no-repeat -182px -180px;                          
                      &:hover{
                        background-position: -182px -70px ;  
                       }                      
                      }
                  }
                  li.link5{
                      margin: 2px 2px 0 2px;                      
                      a{
                          width: 73px;
                          height: 23px;
                          background: url(../img/foot_pic_s.jpg) no-repeat -66px -110px;                                                    
                      &:hover{
                        background-position: -66px 0 ;  
                       }                       
                      }
                     
                  }
                  li.link6{
                       margin: 2px 2px 0 2px;                     
                      a{
                          width: 85px;
                          height: 22px;
                          text-align: center;
                          background: #5a5a5a;
                          color:#fff;
                          font:12px "微软雅黑";
                          line-height: 22px;                         
                      }
                  }
              }
          }
          .copyright{
              width:920px;
              padding: 10px 20px;
              margin: 0 auto;
              p{
                  font-size: 12px;
                  font-family: "微软雅黑";
                  a{
                      color:#777;
                  }
              }
              .p1{
                  width: 600px;
                  margin: 0 auto;
                  text-align: center;
                  color:#777;
              }
              .p2{
                  text-align: center;
              }
          }

           .safe{
               width: 135px;
               margin: 0 auto;
               overflow: hidden;
               a{
                   display: block;
                   float: left;
                   height: 35px;
               }
               a.safe_a1{
                   margin-top: 3px;
               }
               a.safe_a2{
                   overflow: hidden;
                   margin-left: 4px;
               }
           }
