.psw{
    .check{
        margin-top: 18px;
        label{
            padding-top: 4px;
        }
        span{
            display: block;
            padding-top: 2px;
            margin-left:220px;
            cursor: pointer;
            color:#ccc!important;
        }
    }
}
#register_btn{
    span{
        display: block;
        margin-top:40px;
        cursor: pointer;
    }
    p{
        margin-top: 4px;
        margin-left: 22px;
    }
}
