@charset "UTF-8";
           
        /***********************导航区域******************************************/
        $menu_Left : -108px;
                .main_nav{
                    width: 960px;
                    height: 33px;
                    margin: 0 auto;
                    border-bottom:1px solid #333;
                    ul{
                        >li{
                            float: left;
                            position: relative;
                            >a{
                                display: block;
                                width: 108px;
                                height: 33px;
                                line-height: 33px;
                                text-align: center;
                                font-size: 14px;
                                font-family: "微软雅黑";
                                color:#333;
                                &:hover{
                                    background: #8E0C3A;
                                    color:#fff;
                                }
                            }                            
                            a.menu9{
                                width: 96px;
                                height: 33px;
                            }
                            .menu_info{
                                width: 958px;
                                position: absolute;
                                height: 400px;
                                background: #fff;
                                left:$menu_Left * 1;
                                z-index: 3;
                                border:1px solid #ccc;
                                border-top: 1px solid #333;
                                height: 304px;
                                display: none;
                              .menu_sm{
                                  dl.dl1{
                                      padding-left: 0;
                                  }
                                  dl.dl3{padding-left: 0;}
                                  dl.dl4{
                                      padding-left: 0;
                                      dd{
                                          float: left;
                                      }
                                      dd:hover{
                                          a{
                                             color:#8E0C3A;                                           
                                          }
                                      }
                                      dt{
                                          a{
                                              color:#8E0C3A;
                                          }
                                      }
                                      
                                      a{
                                          display: block;
                                          font-size: 12px;
                                          font-family: "微软雅黑";
                                          color:#6C6C6C;
                                      }
                                  }
                                  dl{
                                      float: left;
                                      padding-left: 45px;
                                      dt{
                                              padding-top: 15px;
                                              padding-left: 26px;  
                                              padding-bottom: 10px;                                      
                                          >a{
                                              color:#8E0C3A;
                                              font-size:12px;
                                              font-family: "微软雅黑";
                                              font-weight: bold;                                                                                      
                                          }

                                      }
                                           dd{
                                               margin: 4px 0;
                                               margin-left: 28px;
                                               >a{
                                                      font-size: 12px;
                                                      font-family: "微软雅黑";
                                                      color:#6C6C6C;
                                               }
                                           
                                          }                                      
                                  }  
                                }
                                .all_new_shop{
                                    position: absolute;
                                    left:26px;
                                    bottom:20px;
                                    a{
                                        display: block;
                                        text-decoration: underline;
                                        font-size:12px;
                                        font-family: "微软雅黑";
                                        color:#6c6c6c;
                                        margin-bottom: 6px;                                       
                                    }

                                }
                                a:hover{
                                    color: #8E0C3A!important;
                                }
                            }
                            
                            .menu_girl{
                                    dl.dl2{
                                        padding-left: 0px;
                                    }
                                    dl.pic{
                                        position: absolute;
                                        right: 15px;
                                        top:15px;
                                    }                              
                            }
                            .menu_brand{
                                dl.dl2{
                                    padding-left: 42px;
                                }
                            }
                            .menu_Preferential{
                                dl.dl2{
                                    padding-left: 56px;
                                    dd{
                                        float:left;
                                        &:nth-of-type(3){
                                            clear: both;
                                        }
                                        &:nth-of-type(2){
                                            padding-left: 58px;
                                        }
                                        &:nth-of-type(4){
                                            padding-left: 18px;
                                        }
                                        &:nth-of-type(5){
                                            clear: both;
                                            padding-top: 2px;
                                            float: left;
                                        }                                
                                    }
                                }
                                dl.dl3{
                                    dd{
                                        &:nth-of-type(1){
                                            float: left;
                                        }
                                        &:nth-of-type(2){
                                            float:left;
                                            padding-left: 52px;
                                        }
                                        &:nth-of-type(3){
                                            clear: both;
                                            float: left;
                                        }
                                        &:nth-of-type(4){
                                            float: left;
                                            padding-left: 13px;
                                        }
                                        &:nth-of-type(5){
                                            clear: both;
                                            padding-top: 6px;
                                        }
                                    }
                                }
                            }
                            .menu3_info{
                                left:$menu_Left * 2;
                            }
                            .menu4_info{
                                left:$menu_Left * 3;                                
                            }
                            .menu5_info{
                                left:$menu_Left * 4;
                                
                            }
                            .menu6_info{
                                left:$menu_Left * 5;                              
                            }
                            .menu7_info{                              
                                left:$menu_Left * 6;
                                .dl3{
                                    img{
                                        width: 210px;
                                    }
                                    a{
                                        position: relative;
                                        div.pic_info{
                                            position: absolute;
                                            bottom: 2px;
                                            width:210px;
                                            background-color:rgba(0,0,0,0.4);
                                            p{  
                                                height: 25px;
                                                color:#fff;
                                                text-align: center;
                                                line-height: 25px;
                                            }
                                        }
                                    }
                                }
                                dl.designer{
                                    margin-left: -18px;
                                }
                            }
                            .menu8_info{
                                left:$menu_Left * 7;                               
                            }
                            &:hover div{
                                display: block;
                            }
                        }
                    }
                }     
/***********************content***************************/
#content{
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    .clear_float{
        &:after{
            content: "";
            height: 0;
            visibility: hidden;
            display: block;
            clear: both;
        }
        .pro_l{
            width: 550px;
            float: left;
            .pro_img_list{
                float: left;
                .goods_scroll{
                    width: 52px;
                    height: 420px;
                    padding: 20px 25px;
                    overflow: hidden;
                    position: relative;
                    .prev{
                        width: 50px;
                        height: 16px;
                        position: absolute;
                        cursor: pointer;
                        top:3px;
                        left:25px;
                        background: url(../img/projt.gif) no-repeat center -32px;
                    }
                    .next{
                        width: 50px;
                        height: 16px;
                        position: absolute;
                        bottom: 0;
                        left: 25px;
                        cursor: pointer;
                        background: url(../img/projt.gif) no-repeat center -48px;                        
                    }

                }
                    .scroll_mask{
                        width: 52px;
                        height: 420px;
                        position: relative;
                        overflow: hidden;
                        z-index:2;
                        ul{
                            position: relative;
                            .list_edit{
                                margin-top: 7px;
                                height: 62px;
                                overflow: hidden;
                                a{
                                    color:#7A7A7A;
                                    font-family: "微软雅黑";
                                    font-size: 12px;
                                  img{
                                      border:1px solid #fff;
                                  }
                                  img.list_edit_pic1{
                                      border:1px solid #CCC;
                                  }
                                }
                            }
                        }
                    }
            }
                  //图片大图
                  .pro_img{
                      float: left;
                      margin-left: 20px;
                      position: relative;
                      #fk{
                          overflow: hidden;
                          width:185px;
                          height: 220px;
                          background: #fff;
                          opacity: 0.6;
                          position: absolute;
                          border:1px solid #eee;
                          cursor: pointer;
                          display: none;
                      }
                     #pig_pic{
                              overflow: hidden;
                              width: 390px;
                              height: 460px;
                              margin-left: 0;
                              z-index: 500;
                              border:1px solid #eee;
                              position: absolute;
                              background: #FFFFFF;
                              top:0;
                              left:446px;
                              display: none;
                              .relative{
                                  width: 390px;
                                  height: 460px;
                                  position: relative;
                                  img#pig_img{
                                      position: absolute;
                                  }
                              }
                           }                                              
                  }
                              

        }
        .pro_r{
            width: 390px;
            padding-top: 20px;
            float: right;
            h1{
                font-size: 14px;
                font-family: "微软雅黑";
                font-weight: normal;
                position: relative;
                a{
                    font-size:16px;
                    font-weight: bold;
                    color:#333;
                }
                    span{
                        color:#6C6C6C!important;
                    }                
            }
            .refer_price{
                padding:10px 0 20px;
                p{
                        font-size: 12px;
                        font-family: "微软雅黑"; 
                        color: #6C6C6C;                   
                    s{
                        color:#bbb;
                    }
                }
                span{
                    font-size: 12px;
                    font-family: "微软雅黑";
                    color: #6C6C6C;
                }
            }
            .pro_size{
                padding: 0 0 20px 0;
                #product_view{
                    padding-top: 10px;
                    .error_msg{
                        padding: 5px 5px 5px 20px;
                        color: #d60000;
                        font-size: 12px;
                        font-family: "微软雅黑";
                        background: url(../img/error_msg_icon.gif) 0 5px no-repeat;
                        display: none;
                    }
                }
            }
            #addbutton{
                padding:10px 0;
                font-family: "微软雅黑";
                a#buynow{
                    width: 124px;
                    display: block;
                    height: 37px;
                    line-height: 111px;
                    overflow: hidden;
                    font-size:0;
                    cursor: pointer;
                    margin-right: 5px;
                    background: url(../img/pic_buy_now.gif) no-repeat;
                    float: left;
                }
                a#addbag{
                    width: 140px;
                    display: block;
                    height: 37px;
                    line-height: 111px;
                    overflow: hidden;
                    font-size: 0;
                    cursor: pointer;
                    background: url(../img/pic_add_shopping.gif) no-repeat;
                }
                
            }
            .share{
                margin: 15px 0;
                border-top:1px solid #eee;
                border-bottom: 1px solid #eee;
                .share_zone{
                    padding: 0;
                    position: relative;
                    .share_btns{
                        width:200px;
                        padding: 12px 0 9px;
                        cursor: default;
                        float:left;
                          &:after{
                              content: "";
                              height: 0;
                              visibility: hidden;
                              display: block;
                              clear: both;
                          }
                        i{
                            float: left;
                            display: inline;
                            margin-left: 3px;
                            font-style: normal;
                            font-size:12px;
                            font-family: "微软雅黑";
                            color:#6C6C6C;
                        }
                        a{
                            float: left;
                            display: inline;
                            margin-right: 3px;
                            width: 16px;
                            height: 16px;
                        }
                        a.ico_sina{
                            background: url(../img/share_icon.jpg) 0 -17px no-repeat;
                        }
                        a.ico_wx{
                            background: url(../img/icons_0_16.png) 0 -1612px no-repeat;
                        }
                        a.ico_dou{
                            background: url(../img/icons_0_16.png) 0 -468px no-repeat;
                           
                        }
                    }
                }
                    #needWish{
                        float: right;
                        padding-top: 8px;
                        a{
                            color:#7A7A7A;
                            font-family: "微软雅黑";
                            i{
                                padding: 0 0 2px 20px;
                                font-size: 12px;
                                font-style: normal;
                                background: url(../img/coll.gif) 0 -23px no-repeat;
                                &:hover{
                                background: url(../img/coll.gif) 0 2px no-repeat;     
                                color:#8E0C3A;                               
                                }
                            }
                        }                       
                    }                
            }

        }
    }
    .pro_recom{
        height: 350px;
        .pro_recom_title{
            margin-top: 42px;
            width: 890px;
            height: 45px;
            padding-left: 70px;
            color: #1b1b1b;
            font-family: "微软雅黑";
            font-size: 14px;
            padding-top: 10px;
            background: url(../img/m.png) no-repeat center left;
        }
        .pro_recom_detail{
            padding: 20px 0;
            .pro_decom_detail_s{
                ul{
                    li{
                        width: 160px;
                        line-height: 1.2;
                        float: left;
                        display: inline;
                        margin: 0 16px;
                        a{
                            color:#7A7A7A;
                            font-size:12px;
                            font-family: "微软雅黑";                           
                            display: block;
                            .pro_recom_name{
                                line-height: 1.5;
                                margin-bottom: 5px;
                            }
                            &:hover{
                                span{
                                    color:#8E0C3A;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .proTab{
        height: 41px;
        margin-top:45px;
        .proTab_m{
            width: 960px;
            border-bottom: 1px solid #e6e6e6;
            background: #fff;
            #tab{
                overflow: hidden;
                height: 40px;
                zoom: 1;
                li.current{
                    color:#fff;
                    background: #505050;
                }
                li{
                    float: left;
                    height: 40px;
                    cursor: pointer;
                    line-height: 40px;
                    width: 140px;
                    margin-right: 5px;
                    text-align: center;
                    font-size: 14px;
                    color: #7c7c7c;
                    background: #E6E6E6;
                    font-family: "微软雅黑";
                }
            }
        }
    }
    #product_Con{
        .tabCon{
             .proConBox{
                 border-bottom:1px dashed #ccc;
                 margin-top:40px;
                 overflow: hidden;
                 padding-bottom: 30px;
                 color:#000;
                 line-height: 2;
                 .proBrand_l{
                     width: 275px;
                     font-size: 14px;
                     float: left;
                     border-right: 1px solid #8e8e8e;
                     height: 200px;
                     table.type_input{
                         font-family: "微软雅黑";
                         th{
                             font-weight: normal;
                         }
                     }
                 }
                 .proBrand_r{
                     float: right;
                     width: 625px;
                     font-size: 14px;
                     padding-left: 55px;
                     color:#000;
                     line-height: 2.5;
                     p{
                         font-size: 14px;
                         font-family: "微软雅黑";
                         color:#505050;
                     }
                     a{
                         color:#838383;
                         text-align: right;
                         display: block;
                         text-decoration: underline;
                         font-size: 14px;
                         font-family: "微软雅黑";
                     }
                 }
                 .proImg{
                     width: 940px;
                     margin: 0 auto;
                     li{
                         float: left;
                         margin: 0 20px 40px 20px;
                         font-size: 0;
                         img{
                             width: 430px;
                         }
                     }
                 }
                 .tabTitle{
                     width: 890px;
                     height: 45px;
                     background: url(../img/m.png) no-repeat center left;
                     padding-left:70px;
                     color:#1b1b1b;
                     font-family: "微软雅黑";
                     font-size: 14px;
                     padding-top: 10px;
                     p{
                         color:#505050;
                     }
                     p.t_m1{
                         background: url(../img/title.png) 0 -1px;                         
                         width: 156px;
                         height: 11px;
                     }
                     p.t_m2{
                         background: url(../img/title.png) 0 -13px;      
                         width: 92px;
                         height: 14px;                   
                     }
                     p.t_m3{
                         width: 118px;
                         height: 11px;
                         background: url(../img/title.png) 0 -28px;
                     }
                 }
                 table{
                     border-collapse: collapse;
                     border-spacing: 0;
                 }
                 .proTable{
                     margin: 15px 0 10px;
                     border:1px solid #e6e6e6;                     
                     tbody{
                         display: table-row-group;
                         vertical-align: middle;
                         border-color: inherit;
                         th{
                             width: 80px;
                             padding: 10px;
                             text-align: center;
                             color:#505050;
                             overflow: hidden;
                             font-size: 12px;
                             font-family: "微软雅黑";
                             border:1px solid #E6E6E6;
                         }
                         td{
                             width: 970px;
                             color:#909090;
                             padding-left:10px;
                             font-size: 12px;
                             font-family: "微软雅黑";
                             border:1px solid #E6E6E6;                             
                         }
                     }
                 }
             }
        }
    }
    .cnxh{
        margin-top:20px;
        .bt{
            margin-bottom: 10px;
            h2{
                text-align: center;
                font-weight: bold;
                color:black;
                font-family: "微软雅黑";
                font-size: 22px;
                margin-bottom: 6px;
            }
            p{
                width: 50px;
                border-top:1px solid #000;
                margin: 0 auto;
                padding-top: 7px;
                font-size: 12px;
                font-family: "微软雅黑";
                color:#6c6c6c;
            }
        }
        .dycommodity{
            ul{
                li{
                    float: left;
                    display: inline-block;
                    width: 188px;
                    margin-left:2px;
                    a{
                        color:#7A7A7A;
                        img{
                            width: 160px;
                        }
                    }
                }
            }
            .cnxh_pro_name{
                line-height: 1.5;
                margin-bottom: 5px;
                span{
                    display: inline-block;
                    width: 80%;
                    font-size: 12px;
                    color:#7A7A7A;
                    font-family: "微软雅黑";
                }
            }
        }
    }
}
/***********************footer****************************/
#footer{
                 margin-top:30px;
                 height: 127px;
                 .help_intro{
                     width:960px;
                     margin:0 auto;
                     border-top:1px solid #ccc;
                     padding: 30px 0 10px 0;
                     ul{
                         width: 95px;
                         float: left;
                         li{
                             font-size:12px;
                             font-family: "微软雅黑";
                             line-height: 18px;
                             &:nth-of-type(1){
                                 color:#666;
                                 font-weight: bold;
                                 padding: 10px 0 8px 0;
                             }
                             a{
                                 color:#7A7A7A;
                                 &:hover{
                                     color:#8E0C3A;
                                 }
                             }
                         }
                     }
                     .hot_phone{
                         width: 240px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         float: left;
                         li{
                             text-align: center;   
                             color:#666;                  
                         }
                         li.word_phone{
                             font-size: 14px;
                             font-weight: bold;
                             font-family: "微软雅黑";
                         }
                         li.num_phone{
                             font-size: 20px;
                             font-weight: normal;
                         }
                     }
                     .ke_fu{
                         width: 145px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         li{
                             text-align: center;
                             font-family: "微软雅黑";
                             color:#666;
                             font-size: 14px;
                         }
                         .qq{
                             width: 20px;
                             height: 23px;
                             background: url(../img/footico.gif) no-repeat 0 0;
                             float: left;
                             margin-left: 48px;
                             cursor: pointer;
                         }
                         .music{
                             width: 21px;
                             height: 23px;
                             background: url(../img/footico.gif) no-repeat -20px 0;
                             float: left;
                             margin-left: 10px;
                             cursor: pointer;
                         }
                     }
                     .er_weima{
                         width: 190px;
                         height: 86px;
                         border-left:1px solid #ccc;
                         li{
                             float: left;
                             margin-left: 20px;
                             cursor: pointer;
                         }
                         li.er_weima1{
                             margin-top: -10px;
                         }
                         li.er_weima_2{
                             span{
                                 margin-left: 10px;
                                 color:#666;
                                 font-weight: 600;
                             }
                             margin-top: -1px;
                         }
                     }
                 }
             }
.scroll_chat{
        position: fixed;
        right: 0;
        z-index: 25;
        bottom: 50px;
        overflow: hidden;
        height: 139px;
        width: 52px;
        .relative_po{
            position: relative;
            overflow: hidden;
            height: 139px;
            a{
                position: absolute;
                top:0;
                display: block;
                width: 52px;
                height: 46px;
                z-index: 2;
                background: url(../img/consult.jpg) no-repeat 0 0;                
            }
            a.jkzx{
                top:0;
                &:hover{
                 background: url(../img/consult.jpg) no-repeat -52px 0;                                   
                }
            }
            a.qqzx{
                top:46px;
                background-position: 0 -46px;
                 &:hover{
                 background: url(../img/consult.jpg) no-repeat -52px -46px;                                   
                }               
            }
            a.totop{
                top:92px;
                background-position: 0 -92px;
                &:hover{
                 background: url(../img/consult.jpg) no-repeat -52px -92px;                                   
                }                
            }
        }

    }             