@charset "UTF-8";
/***********************导航区域******************************************/
.main_nav {
  width: 960px;
  height: 33px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
.main_nav ul > li {
  float: left;
  position: relative;
}
.main_nav ul > li > a {
  display: block;
  width: 108px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
}
.main_nav ul > li > a:hover {
  background: #8E0C3A;
  color: #fff;
}
.main_nav ul > li a.menu9 {
  width: 96px;
  height: 33px;
}
.main_nav ul > li .menu_info {
  width: 958px;
  position: absolute;
  height: 400px;
  background: #fff;
  left: -108px;
  z-index: 3;
  border: 1px solid #ccc;
  border-top: 1px solid #333;
  height: 304px;
  display: none;
}
.main_nav ul > li .menu_info .menu_sm dl.dl1 {
  padding-left: 0;
}
.main_nav ul > li .menu_info .menu_sm dl.dl3 {
  padding-left: 0;
}
.main_nav ul > li .menu_info .menu_sm dl.dl4 {
  padding-left: 0;
}
.main_nav ul > li .menu_info .menu_sm dl.dl4 dd {
  float: left;
}
.main_nav ul > li .menu_info .menu_sm dl.dl4 dd:hover a {
  color: #8E0C3A;
}
.main_nav ul > li .menu_info .menu_sm dl.dl4 dt a {
  color: #8E0C3A;
}
.main_nav ul > li .menu_info .menu_sm dl.dl4 a {
  display: block;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6C6C6C;
}
.main_nav ul > li .menu_info .menu_sm dl {
  float: left;
  padding-left: 45px;
}
.main_nav ul > li .menu_info .menu_sm dl dt {
  padding-top: 15px;
  padding-left: 26px;
  padding-bottom: 10px;
}
.main_nav ul > li .menu_info .menu_sm dl dt > a {
  color: #8E0C3A;
  font-size: 12px;
  font-family: "微软雅黑";
  font-weight: bold;
}
.main_nav ul > li .menu_info .menu_sm dl dd {
  margin: 4px 0;
  margin-left: 28px;
}
.main_nav ul > li .menu_info .menu_sm dl dd > a {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6C6C6C;
}
.main_nav ul > li .menu_info .all_new_shop {
  position: absolute;
  left: 26px;
  bottom: 20px;
}
.main_nav ul > li .menu_info .all_new_shop a {
  display: block;
  text-decoration: underline;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6c6c6c;
  margin-bottom: 6px;
}
.main_nav ul > li .menu_info a:hover {
  color: #8E0C3A !important;
}
.main_nav ul > li .menu_girl dl.dl2 {
  padding-left: 0px;
}
.main_nav ul > li .menu_girl dl.pic {
  position: absolute;
  right: 15px;
  top: 15px;
}
.main_nav ul > li .menu_brand dl.dl2 {
  padding-left: 42px;
}
.main_nav ul > li .menu_Preferential dl.dl2 {
  padding-left: 56px;
}
.main_nav ul > li .menu_Preferential dl.dl2 dd {
  float: left;
}
.main_nav ul > li .menu_Preferential dl.dl2 dd:nth-of-type(3) {
  clear: both;
}
.main_nav ul > li .menu_Preferential dl.dl2 dd:nth-of-type(2) {
  padding-left: 58px;
}
.main_nav ul > li .menu_Preferential dl.dl2 dd:nth-of-type(4) {
  padding-left: 18px;
}
.main_nav ul > li .menu_Preferential dl.dl2 dd:nth-of-type(5) {
  clear: both;
  padding-top: 2px;
  float: left;
}
.main_nav ul > li .menu_Preferential dl.dl3 dd:nth-of-type(1) {
  float: left;
}
.main_nav ul > li .menu_Preferential dl.dl3 dd:nth-of-type(2) {
  float: left;
  padding-left: 52px;
}
.main_nav ul > li .menu_Preferential dl.dl3 dd:nth-of-type(3) {
  clear: both;
  float: left;
}
.main_nav ul > li .menu_Preferential dl.dl3 dd:nth-of-type(4) {
  float: left;
  padding-left: 13px;
}
.main_nav ul > li .menu_Preferential dl.dl3 dd:nth-of-type(5) {
  clear: both;
  padding-top: 6px;
}
.main_nav ul > li .menu3_info {
  left: -216px;
}
.main_nav ul > li .menu4_info {
  left: -324px;
}
.main_nav ul > li .menu5_info {
  left: -432px;
}
.main_nav ul > li .menu6_info {
  left: -540px;
}
.main_nav ul > li .menu7_info {
  left: -648px;
}
.main_nav ul > li .menu7_info .dl3 img {
  width: 210px;
}
.main_nav ul > li .menu7_info .dl3 a {
  position: relative;
}
.main_nav ul > li .menu7_info .dl3 a div.pic_info {
  position: absolute;
  bottom: 2px;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.4);
}
.main_nav ul > li .menu7_info .dl3 a div.pic_info p {
  height: 25px;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.main_nav ul > li .menu7_info dl.designer {
  margin-left: -18px;
}
.main_nav ul > li .menu8_info {
  left: -756px;
}
.main_nav ul > li:hover div {
  display: block;
}

/***********************content***************************/
#content {
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}
#content .clear_float:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
#content .clear_float .pro_l {
  width: 550px;
  float: left;
}
#content .clear_float .pro_l .pro_img_list {
  float: left;
}
#content .clear_float .pro_l .pro_img_list .goods_scroll {
  width: 52px;
  height: 420px;
  padding: 20px 25px;
  overflow: hidden;
  position: relative;
}
#content .clear_float .pro_l .pro_img_list .goods_scroll .prev {
  width: 50px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 25px;
  background: url(../img/projt.gif) no-repeat center -32px;
}
#content .clear_float .pro_l .pro_img_list .goods_scroll .next {
  width: 50px;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 25px;
  cursor: pointer;
  background: url(../img/projt.gif) no-repeat center -48px;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask {
  width: 52px;
  height: 420px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask ul {
  position: relative;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask ul .list_edit {
  margin-top: 7px;
  height: 62px;
  overflow: hidden;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask ul .list_edit a {
  color: #7A7A7A;
  font-family: "微软雅黑";
  font-size: 12px;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask ul .list_edit a img {
  border: 1px solid #fff;
}
#content .clear_float .pro_l .pro_img_list .scroll_mask ul .list_edit a img.list_edit_pic1 {
  border: 1px solid #CCC;
}
#content .clear_float .pro_l .pro_img {
  float: left;
  margin-left: 20px;
  position: relative;
}
#content .clear_float .pro_l .pro_img #fk {
  overflow: hidden;
  width: 185px;
  height: 220px;
  background: #fff;
  opacity: 0.6;
  position: absolute;
  border: 1px solid #eee;
  cursor: pointer;
  display: none;
}
#content .clear_float .pro_l .pro_img #pig_pic {
  overflow: hidden;
  width: 390px;
  height: 460px;
  margin-left: 0;
  z-index: 500;
  border: 1px solid #eee;
  position: absolute;
  background: #FFFFFF;
  top: 0;
  left: 446px;
  display: none;
}
#content .clear_float .pro_l .pro_img #pig_pic .relative {
  width: 390px;
  height: 460px;
  position: relative;
}
#content .clear_float .pro_l .pro_img #pig_pic .relative img#pig_img {
  position: absolute;
}
#content .clear_float .pro_r {
  width: 390px;
  padding-top: 20px;
  float: right;
}
#content .clear_float .pro_r h1 {
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: normal;
  position: relative;
}
#content .clear_float .pro_r h1 a {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#content .clear_float .pro_r h1 span {
  color: #6C6C6C !important;
}
#content .clear_float .pro_r .refer_price {
  padding: 10px 0 20px;
}
#content .clear_float .pro_r .refer_price p {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6C6C6C;
}
#content .clear_float .pro_r .refer_price p s {
  color: #bbb;
}
#content .clear_float .pro_r .refer_price span {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6C6C6C;
}
#content .clear_float .pro_r .pro_size {
  padding: 0 0 20px 0;
}
#content .clear_float .pro_r .pro_size #product_view {
  padding-top: 10px;
}
#content .clear_float .pro_r .pro_size #product_view .error_msg {
  padding: 5px 5px 5px 20px;
  color: #d60000;
  font-size: 12px;
  font-family: "微软雅黑";
  background: url(../img/error_msg_icon.gif) 0 5px no-repeat;
  display: none;
}
#content .clear_float .pro_r #addbutton {
  padding: 10px 0;
  font-family: "微软雅黑";
}
#content .clear_float .pro_r #addbutton a#buynow {
  width: 124px;
  display: block;
  height: 37px;
  line-height: 111px;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
  margin-right: 5px;
  background: url(../img/pic_buy_now.gif) no-repeat;
  float: left;
}
#content .clear_float .pro_r #addbutton a#addbag {
  width: 140px;
  display: block;
  height: 37px;
  line-height: 111px;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
  background: url(../img/pic_add_shopping.gif) no-repeat;
}
#content .clear_float .pro_r .share {
  margin: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#content .clear_float .pro_r .share .share_zone {
  padding: 0;
  position: relative;
}
#content .clear_float .pro_r .share .share_zone .share_btns {
  width: 200px;
  padding: 12px 0 9px;
  cursor: default;
  float: left;
}
#content .clear_float .pro_r .share .share_zone .share_btns:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
#content .clear_float .pro_r .share .share_zone .share_btns i {
  float: left;
  display: inline;
  margin-left: 3px;
  font-style: normal;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6C6C6C;
}
#content .clear_float .pro_r .share .share_zone .share_btns a {
  float: left;
  display: inline;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}
#content .clear_float .pro_r .share .share_zone .share_btns a.ico_sina {
  background: url(../img/share_icon.jpg) 0 -17px no-repeat;
}
#content .clear_float .pro_r .share .share_zone .share_btns a.ico_wx {
  background: url(../img/icons_0_16.png) 0 -1612px no-repeat;
}
#content .clear_float .pro_r .share .share_zone .share_btns a.ico_dou {
  background: url(../img/icons_0_16.png) 0 -468px no-repeat;
}
#content .clear_float .pro_r .share #needWish {
  float: right;
  padding-top: 8px;
}
#content .clear_float .pro_r .share #needWish a {
  color: #7A7A7A;
  font-family: "微软雅黑";
}
#content .clear_float .pro_r .share #needWish a i {
  padding: 0 0 2px 20px;
  font-size: 12px;
  font-style: normal;
  background: url(../img/coll.gif) 0 -23px no-repeat;
}
#content .clear_float .pro_r .share #needWish a i:hover {
  background: url(../img/coll.gif) 0 2px no-repeat;
  color: #8E0C3A;
}
#content .pro_recom {
  height: 350px;
}
#content .pro_recom .pro_recom_title {
  margin-top: 42px;
  width: 890px;
  height: 45px;
  padding-left: 70px;
  color: #1b1b1b;
  font-family: "微软雅黑";
  font-size: 14px;
  padding-top: 10px;
  background: url(../img/m.png) no-repeat center left;
}
#content .pro_recom .pro_recom_detail {
  padding: 20px 0;
}
#content .pro_recom .pro_recom_detail .pro_decom_detail_s ul li {
  width: 160px;
  line-height: 1.2;
  float: left;
  display: inline;
  margin: 0 16px;
}
#content .pro_recom .pro_recom_detail .pro_decom_detail_s ul li a {
  color: #7A7A7A;
  font-size: 12px;
  font-family: "微软雅黑";
  display: block;
}
#content .pro_recom .pro_recom_detail .pro_decom_detail_s ul li a .pro_recom_name {
  line-height: 1.5;
  margin-bottom: 5px;
}
#content .pro_recom .pro_recom_detail .pro_decom_detail_s ul li a:hover span {
  color: #8E0C3A;
}
#content .proTab {
  height: 41px;
  margin-top: 45px;
}
#content .proTab .proTab_m {
  width: 960px;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}
#content .proTab .proTab_m #tab {
  overflow: hidden;
  height: 40px;
  zoom: 1;
}
#content .proTab .proTab_m #tab li.current {
  color: #fff;
  background: #505050;
}
#content .proTab .proTab_m #tab li {
  float: left;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  width: 140px;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  color: #7c7c7c;
  background: #E6E6E6;
  font-family: "微软雅黑";
}
#content #product_Con .tabCon .proConBox {
  border-bottom: 1px dashed #ccc;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 30px;
  color: #000;
  line-height: 2;
}
#content #product_Con .tabCon .proConBox .proBrand_l {
  width: 275px;
  font-size: 14px;
  float: left;
  border-right: 1px solid #8e8e8e;
  height: 200px;
}
#content #product_Con .tabCon .proConBox .proBrand_l table.type_input {
  font-family: "微软雅黑";
}
#content #product_Con .tabCon .proConBox .proBrand_l table.type_input th {
  font-weight: normal;
}
#content #product_Con .tabCon .proConBox .proBrand_r {
  float: right;
  width: 625px;
  font-size: 14px;
  padding-left: 55px;
  color: #000;
  line-height: 2.5;
}
#content #product_Con .tabCon .proConBox .proBrand_r p {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #505050;
}
#content #product_Con .tabCon .proConBox .proBrand_r a {
  color: #838383;
  text-align: right;
  display: block;
  text-decoration: underline;
  font-size: 14px;
  font-family: "微软雅黑";
}
#content #product_Con .tabCon .proConBox .proImg {
  width: 940px;
  margin: 0 auto;
}
#content #product_Con .tabCon .proConBox .proImg li {
  float: left;
  margin: 0 20px 40px 20px;
  font-size: 0;
}
#content #product_Con .tabCon .proConBox .proImg li img {
  width: 430px;
}
#content #product_Con .tabCon .proConBox .tabTitle {
  width: 890px;
  height: 45px;
  background: url(../img/m.png) no-repeat center left;
  padding-left: 70px;
  color: #1b1b1b;
  font-family: "微软雅黑";
  font-size: 14px;
  padding-top: 10px;
}
#content #product_Con .tabCon .proConBox .tabTitle p {
  color: #505050;
}
#content #product_Con .tabCon .proConBox .tabTitle p.t_m1 {
  background: url(../img/title.png) 0 -1px;
  width: 156px;
  height: 11px;
}
#content #product_Con .tabCon .proConBox .tabTitle p.t_m2 {
  background: url(../img/title.png) 0 -13px;
  width: 92px;
  height: 14px;
}
#content #product_Con .tabCon .proConBox .tabTitle p.t_m3 {
  width: 118px;
  height: 11px;
  background: url(../img/title.png) 0 -28px;
}
#content #product_Con .tabCon .proConBox table {
  border-collapse: collapse;
  border-spacing: 0;
}
#content #product_Con .tabCon .proConBox .proTable {
  margin: 15px 0 10px;
  border: 1px solid #e6e6e6;
}
#content #product_Con .tabCon .proConBox .proTable tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#content #product_Con .tabCon .proConBox .proTable tbody th {
  width: 80px;
  padding: 10px;
  text-align: center;
  color: #505050;
  overflow: hidden;
  font-size: 12px;
  font-family: "微软雅黑";
  border: 1px solid #E6E6E6;
}
#content #product_Con .tabCon .proConBox .proTable tbody td {
  width: 970px;
  color: #909090;
  padding-left: 10px;
  font-size: 12px;
  font-family: "微软雅黑";
  border: 1px solid #E6E6E6;
}
#content .cnxh {
  margin-top: 20px;
}
#content .cnxh .bt {
  margin-bottom: 10px;
}
#content .cnxh .bt h2 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "微软雅黑";
  font-size: 22px;
  margin-bottom: 6px;
}
#content .cnxh .bt p {
  width: 50px;
  border-top: 1px solid #000;
  margin: 0 auto;
  padding-top: 7px;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #6c6c6c;
}
#content .cnxh .dycommodity ul li {
  float: left;
  display: inline-block;
  width: 188px;
  margin-left: 2px;
}
#content .cnxh .dycommodity ul li a {
  color: #7A7A7A;
}
#content .cnxh .dycommodity ul li a img {
  width: 160px;
}
#content .cnxh .dycommodity .cnxh_pro_name {
  line-height: 1.5;
  margin-bottom: 5px;
}
#content .cnxh .dycommodity .cnxh_pro_name span {
  display: inline-block;
  width: 80%;
  font-size: 12px;
  color: #7A7A7A;
  font-family: "微软雅黑";
}

/***********************footer****************************/
#footer {
  margin-top: 30px;
  height: 127px;
}
#footer .help_intro {
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 30px 0 10px 0;
}
#footer .help_intro ul {
  width: 95px;
  float: left;
}
#footer .help_intro ul li {
  font-size: 12px;
  font-family: "微软雅黑";
  line-height: 18px;
}
#footer .help_intro ul li:nth-of-type(1) {
  color: #666;
  font-weight: bold;
  padding: 10px 0 8px 0;
}
#footer .help_intro ul li a {
  color: #7A7A7A;
}
#footer .help_intro ul li a:hover {
  color: #8E0C3A;
}
#footer .help_intro .hot_phone {
  width: 240px;
  height: 86px;
  border-left: 1px solid #ccc;
  float: left;
}
#footer .help_intro .hot_phone li {
  text-align: center;
  color: #666;
}
#footer .help_intro .hot_phone li.word_phone {
  font-size: 14px;
  font-weight: bold;
  font-family: "微软雅黑";
}
#footer .help_intro .hot_phone li.num_phone {
  font-size: 20px;
  font-weight: normal;
}
#footer .help_intro .ke_fu {
  width: 145px;
  height: 86px;
  border-left: 1px solid #ccc;
}
#footer .help_intro .ke_fu li {
  text-align: center;
  font-family: "微软雅黑";
  color: #666;
  font-size: 14px;
}
#footer .help_intro .ke_fu .qq {
  width: 20px;
  height: 23px;
  background: url(../img/footico.gif) no-repeat 0 0;
  float: left;
  margin-left: 48px;
  cursor: pointer;
}
#footer .help_intro .ke_fu .music {
  width: 21px;
  height: 23px;
  background: url(../img/footico.gif) no-repeat -20px 0;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
#footer .help_intro .er_weima {
  width: 190px;
  height: 86px;
  border-left: 1px solid #ccc;
}
#footer .help_intro .er_weima li {
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
#footer .help_intro .er_weima li.er_weima1 {
  margin-top: -10px;
}
#footer .help_intro .er_weima li.er_weima_2 {
  margin-top: -1px;
}
#footer .help_intro .er_weima li.er_weima_2 span {
  margin-left: 10px;
  color: #666;
  font-weight: 600;
}

.scroll_chat {
  position: fixed;
  right: 0;
  z-index: 25;
  bottom: 50px;
  overflow: hidden;
  height: 139px;
  width: 52px;
}
.scroll_chat .relative_po {
  position: relative;
  overflow: hidden;
  height: 139px;
}
.scroll_chat .relative_po a {
  position: absolute;
  top: 0;
  display: block;
  width: 52px;
  height: 46px;
  z-index: 2;
  background: url(../img/consult.jpg) no-repeat 0 0;
}
.scroll_chat .relative_po a.jkzx {
  top: 0;
}
.scroll_chat .relative_po a.jkzx:hover {
  background: url(../img/consult.jpg) no-repeat -52px 0;
}
.scroll_chat .relative_po a.qqzx {
  top: 46px;
  background-position: 0 -46px;
}
.scroll_chat .relative_po a.qqzx:hover {
  background: url(../img/consult.jpg) no-repeat -52px -46px;
}
.scroll_chat .relative_po a.totop {
  top: 92px;
  background-position: 0 -92px;
}
.scroll_chat .relative_po a.totop:hover {
  background: url(../img/consult.jpg) no-repeat -52px -92px;
}
